div.monaco-workbench {
  background-color: var(--background-color);
}

.custom-list-row .scm-view .scm-editor-placeholder {
  font-size: var(--row-font-size) !important;
}

.custom-list-row .quick-input-list .monaco-list-row,
.custom-list-row .monaco-workbench .monaco-list-row .codicon[class*=codicon-],
.custom-list-row .monaco-workbench .part>.content {
  font-size: var(--row-font-size);
}

.custom-list-row .quick-input-list .monaco-list-row,
.custom-list-row .debug-viewlet .monaco-list-row,
.custom-list-row .scm-view .monaco-list-row,
.custom-list-row div.search-view .filematch,
.custom-list-row div.search-view .foldermatch,
.custom-list-row div.search-view .linematch,
.custom-list-row .scm-view .monaco-list-row .resource>.name>.monaco-icon-label>.actions .action-label.codicon {
  line-height: var(--row-height);
}

.custom-list-row .customview-tree .monaco-tree .monaco-tree-row .custom-view-tree-node-item>.custom-view-tree-node-item-icon,
.custom-list-row .monaco-panel-view .panel>.panel-header>.actions .action-label.icon,
.custom-list-row .customview-tree .monaco-tree .monaco-tree-row .custom-view-tree-node-item>.custom-view-tree-node-item-icon,
.custom-list-row .monaco-pane-view .pane>.pane-header,
.custom-list-row .monaco-pane-view .pane>.pane-header>.actions .action-label.icon,
.custom-list-row .monaco-pane-view .pane>.pane-header>.actions .action-label.codicon {
  height: var(--row-height);
}

.custom-list-row .customview-tree .monaco-list .monaco-list-row div.custom-view-tree-node-item,
.custom-list-row .customview-tree .monaco-tree .monaco-tree-row div.custom-view-tree-node-item,
.custom-list-row .explorer-viewlet .open-editor,
.custom-list-row .explorer-viewlet .editor-group,
.custom-list-row .explorer-viewlet .explorer-item,
.custom-list-row .explorer-viewlet .explorer-item::before {
  height: var(--row-height);
  line-height: var(--row-height);
}

.custom-list-row .timeline-tree-view .monaco-list .monaco-list-row .custom-view-tree-node-item>div.custom-view-tree-node-item-icon,
.custom-list-row .customview-tree .monaco-list .monaco-list-row .custom-view-tree-node-item>.custom-view-tree-node-item-resourceLabel>div.custom-view-tree-node-item-icon,
.custom-list-row .monaco-list-rows div.monaco-icon-label:before,
.custom-list-row .search-view div.monaco-icon-label:before {
  background-size: var(--row-font-size);
  width: var(--row-font-size);
  height: var(--row-height);
}

.custom-list-row .search-view div.monaco-icon-label:before {
  padding-right: calc(var(--row-font-size) * 0.3);
}

/*  */
.horizontal-activitybar .monaco-workbench .activitybar.bordered:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  height: 0;
  width: calc(100% - 1px);
  border-color: inherit;
}

.horizontal-activitybar .monaco-workbench .activitybar.left.bordered:before {
  border-right-color: var(--vscode-sideBar-border);
}

.horizontal-activitybar .monaco-workbench .activitybar.right.bordered:before {
  border-left-color: var(--vscode-sideBar-border);
}

.horizontal-activitybar.activitybar-top .monaco-workbench .activitybar.bordered:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  bottom: 0;
}

.horizontal-activitybar .monaco-workbench .activitybar.right.bordered:after {
  right: 0;
}

/*  */
.horizontal-activitybar.activitybar-bottom .monaco-workbench .activitybar.bordered:after {
  border-top-style: solid;
  border-top-width: 1px;
  top: 0;
}

.horizontal-activitybar .monaco-workbench .part.activitybar {
  width: 100%;
}

.horizontal-activitybar .monaco-workbench .activitybar>.content {
  flex-direction: row;
  justify-content: unset;
}

.horizontal-activitybar .global-activity-actionbar {
  margin-left: auto;
}

.horizontal-activitybar .monaco-workbench .activitybar>.content .monaco-action-bar .badge .badge-content {
  right: 0;
  top: 0;
}

.custom-activitybar:not(.horizontal-activitybar) .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge div.badge-content {
  right: calc(var(--activity-bar-action-size) / 6);
  top: calc(var(--activity-bar-action-size) / 2);
}

.horizontal-activitybar .monaco-workbench .activitybar .menubar,
.custom-activitybar div.monaco-workbench div.activitybar>div.content div.monaco-action-bar ul.actions-container li.action-item a.action-label {
  height: var(--activity-bar-action-size);
  width: var(--activity-bar-action-size);
  font-size: calc(var(--activity-bar-action-size) * 0.6);
  -webkit-mask-size: calc(var(--activity-bar-action-size) * 0.8) calc(var(--activity-bar-action-size) * 0.8);
  padding: 0;
}

.custom-activitybar:not(.horizontal-activitybar) div.monaco-workbench div.activitybar>div.content div.monaco-action-bar ul.actions-container li.action-item {
  margin-top: 3px;
}

.horizontal-activitybar div.monaco-workbench div.activitybar>div.content div.monaco-action-bar ul.actions-container li.action-item {
  margin-left: 3px;
}

.inline-title-bar:not(.horizontal-activitybar) .monaco-workbench:not(.fullscreen) .activitybar:not(.right) .content {
  height: calc(100% - var(--titlebar-height)) !important;
  width: calc(var(--activity-bar-action-size) - 1px) !important;
}

.custom-activitybar .monaco-workbench .part.activitybar {
  width: unset;
}

.no-activity-bar.noauxiliarybar.sidebar-right .inline-tabs-placeholder,
.no-activity-bar.nosidebar:not(.sidebar-right):not(.nosidebar) .inline-tabs-placeholder,
body:not(.frameless-title-bar) .monaco-workbench.sidebar-right.noauxiliarybar .split-view-view:nth-child(1) .split-view-view:nth-child(1) .tabs-and-actions-container .inline-tabs-placeholder,
.horizontal-activitybar:not(.frameless-title-bar) .monaco-workbench:not(.sidebar-right).nosidebar .inline-tabs-placeholder,
.horizontal-activitybar:not(.frameless-title-bar) .monaco-workbench.sidebar-right.noauxiliarybar .inline-tabs-placeholder {
  width: calc(var(--traffic-X) + 60px);
}

body:not(.horizontal-activitybar) .nosidebar:not(.sidebar-right):not(.no-activity-bar) .inline-tabs-placeholder {
  width: calc(var(--traffic-X) + 60px - var(--activity-bar-action-size));
}

.monaco-workbench .split-view-view:nth-child(2) .tabs-and-actions-container .inline-tabs-placeholder {
  width: 0;
}

/*  */
.inline-title-bar:not(.horizontal-activitybar):not(.activitybar-top):not(.statusbar-top) .monaco-workbench:not(.fullscreen) .inline-titlebar-placeholder {
  min-width: calc(var(--traffic-X) + 46px - var(--activity-bar-action-size));
}

.inline-title-bar:not(.horizontal-activitybar):not(.activitybar-top):not(.statusbar-top) .monaco-workbench.no-activity-bar:not(.sidebar-right):not(.fullscreen) .inline-titlebar-placeholder,
.horizontal-activitybar:not(.statusbar-editor-top):not(.statusbar-top) .monaco-workbench.sidebar-right.noauxiliarybar:not(.fullscreen) .part.editor>.content .editor-group-container>.title:not(.tabs),
.horizontal-activitybar:not(.frameless-title-bar):not(.statusbar-editor-top):not(.statusbar-top) .monaco-workbench:not(.sidebar-right).nosidebar:not(.fullscreen) .part.editor>.content .editor-group-container>.title:not(.tabs),
.inline-title-bar:not(.statusbar-editor-top):not(.statusbar-top) .monaco-workbench.no-activity-bar:not(.sidebar-right).nosidebar:not(.fullscreen) .part.editor>.content .editor-group-container>.title:not(.tabs),
.inline-title-bar:not(.statusbar-editor-top):not(.statusbar-top) .monaco-workbench.no-activity-bar.sidebar-right.noauxiliarybar:not(.fullscreen) .part.editor>.content .editor-group-container>.title:not(.tabs),
.inline-title-bar.statusbar-top .statusbar,
.inline-title-bar.statusbar-editor-top .monaco-workbench.nosidebar:not(.sidebar-right):not(.fullscreen) .statusbar,
.inline-title-bar.statusbar-editor-top .monaco-workbench.sidebar-right.noauxiliarybar:not(.fullscreen) .statusbar {
  padding-left: calc(var(--traffic-X) + 52px);
}

.activitybar-bottom.inline-title-bar .monaco-workbench:not(.sidebar-right):not(.fullscreen) .inline-titlebar-placeholder,
.inline-title-bar .monaco-workbench.no-activity-bar .inline-titlebar-placeholder {
  min-width: calc(var(--traffic-X) + 46px);
}

.inline-title-bar.statusbar-editor-top:not(.horizontal-activitybar) .monaco-workbench.nosidebar:not(.sidebar-right):not(.fullscreen) .statusbar {
  padding-left: calc(var(--traffic-X) + 60px - var(--activity-bar-action-size));
}

.inline-title-bar.activitybar-top:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .activitybar.left .content>div:first-child {
  margin-left: calc(var(--traffic-X) + 60px);
}

.inline-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .auxiliarybar.left .composite.title {
  padding-left: calc(var(--traffic-X) + 60px);
}

.inline-title-bar:not(.horizontal-activitybar) .monaco-workbench div.activitybar.bordered.left .content {
  border-color: inherit;
  border-right-width: 1px;
  border-right-style: solid;
}

body.horizontal-activitybar .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator {
  border-bottom-color: var(--vscode-activityBar-activeBorder)
}

body.horizontal-activitybar .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before {
  border-left: unset;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: inherit;
  top: unset;
  bottom: 2px;
  width: 100%;
  height: 0;
  z-index: 8;
}

.inline-title-bar:not(.horizontal-activitybar):not(.statusbar-top) .activitybar.left .activity-bar-placeholder {
  height: calc(var(--titlebar-height) - 1px);
  border-bottom: 1px solid var(--title-border-bottom-color);
}

.frameless-title-bar:not(.statusbar-top) .tabs-container,
.inline-title-bar:not(.statusbar-top) .tabs-container {
  position: relative;
  z-index: 1;
}

.frameless-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .editor-group-container.empty.editor-group-top .inline-no-tabs-placeholder,
.inline-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .editor-group-container.empty.editor-group-top .inline-no-tabs-placeholder {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--header-height);
  -webkit-app-region: drag;
  cursor: move;
  background-color: rgba(0, 0, 0, 0.05);
}

.frameless-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .editor-group-top .tab,
.inline-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .editor-group-top .tab {
  -webkit-app-region: no-drag;
}

/*  */
.frameless-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .editor-group-top .tabs-and-actions-container,
.inline-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .editor-group-top .tabs-and-actions-container,
/*  */
.frameless-title-bar.statusbar-top .monaco-workbench:not(.fullscreen) .statusbar,
.frameless-title-bar.statusbar-editor-top .monaco-workbench:not(.fullscreen) .statusbar,
.inline-title-bar.statusbar-top .monaco-workbench:not(.fullscreen) .statusbar,
.inline-title-bar.statusbar-editor-top .monaco-workbench:not(.fullscreen) .statusbar,
/**/
.frameless-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .auxiliarybar .title-actions,
.inline-title-bar:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .auxiliarybar .title-actions,
/**/
.frameless-title-bar.activitybar-top:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .activitybar.left .content,
.inline-title-bar.activitybar-top:not(.statusbar-top) .monaco-workbench:not(.fullscreen) .activitybar.left .content,
/**/
.frameless-title-bar:not(.activitybar-top):not(.statusbar-top) .monaco-workbench:not(.fullscreen) .sidebar .composite.title,
.inline-title-bar:not(.activitybar-top):not(.statusbar-top) .monaco-workbench:not(.fullscreen) .sidebar .composite.title {
  -webkit-app-region: drag;
  cursor: move;
}

.frameless-title-bar .monaco-workbench .part.editor>.content div.editor-group-container.empty>div.tabs.inline,
.inline-title-bar .monaco-workbench .part.editor>.content div.editor-group-container.empty>div.tabs.inline {
  display: block;
  width: 100%;
  height: var(--header-height);
  position: absolute;
  top: 0;
}

/*  */
.statusbar-editor-top .monaco-workbench .part.statusbar.status-border-top:after,
.statusbar-top .monaco-workbench .part.statusbar.status-border-top:after {
  top: unset;
  bottom: 0;
}

.custom-statusbar .monaco-workbench .part.statusbar>.items-container>div.statusbar-item span.codicon {
  font-size: calc(var(--status-bar-font-size) * 1.3);
}

.custom-statusbar .monaco-workbench .part.statusbar .statusbar-item-label {
  font-size: var(--status-bar-font-size);
}

/*  */
.custom-sidebar-titlebar .auxiliarybar,
.custom-sidebar-titlebar .sidebar {
  height: 100%;
}

.custom-sidebar-titlebar .auxiliarybar content,
.custom-sidebar-titlebar .sidebar content {
  height: 100% !important;
}

.custom-sidebar-titlebar .monaco-workbench .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar .action-item.checked .action-label,
.custom-sidebar-titlebar .monaco-workbench .part.sidebar>.title>.title-label h2 {
  line-height: var(--titlebar-height);
  font-size: var(--titlebar-font-size);
}

.custom-sidebar-titlebar .monaco-workbench .auxiliarybar>div.composite.title,
.custom-sidebar-titlebar .monaco-workbench .auxiliarybar>div.composite.title>div.title-actions,
.custom-sidebar-titlebar .monaco-workbench .sidebar>div.composite.title,
.custom-sidebar-titlebar .monaco-workbench .sidebar>div.composite.title>div.title-actions {
  height: var(--titlebar-height);
}

.custom-sidebar-titlebar .monaco-workbench .part.sidebar>.title>div.title-label {
  line-height: var(--titlebar-height);
}

.custom-sidebar-titlebar .auxiliarybar .composite.title,
.custom-sidebar-titlebar .sidebar .composite.title {
  border-bottom: 1px solid var(--title-border-bottom-color);
}

/* :not(.extension-action) */
.custom-sidebar-titlebar .auxiliarybar .title .monaco-action-bar .action-item .codicon,
.custom-sidebar-titlebar .sidebar .title .monaco-action-bar .action-item .codicon {
  --size: calc(var(--titlebar-font-size) * 1.25);
  background-size: var(--size);
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
}

.custom-sidebar-titlebar .monaco-workbench .part.auxiliarybar>.composite.title>.panel-switcher-container>div.monaco-action-bar {
  height: var(--titlebar-height);
  line-height: var(--titlebar-height);
}

.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title div.tabs-container>div.tab {
  padding: 0 calc(var(--header-height) * 0.2);
}

.custom-header .monaco-workbench .part.panel>.composite.title>.panel-switcher-container>div.monaco-action-bar,
.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title div.tabs-container,
.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title div.tabs-container>div.tab,
.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
  height: var(--header-height);
  line-height: var(--header-height);
}

.custom-header .monaco-workbench .part.panel>.composite.title>.panel-switcher-container>.monaco-action-bar li.action-item {
  height: 100%;
  padding: 0;
  margin-right: 6px;
}

.custom-header .monaco-workbench .part.panel>.composite.title>.panel-switcher-container>.monaco-action-bar .action-item .active-item-indicator {
  width: 100%;
  left: 0;
}

.custom-header .part.panel .monaco-action-bar .action-item .codicon:not(.extension-action),
.custom-header .part.editor .monaco-action-bar .action-item .codicon:not(.extension-action) {
  --size: calc(var(--header-font-size) * 1.25);
  background-size: var(--size);
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
}

.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title div.monaco-icon-label:before {
  height: var(--header-height);
  padding-right: calc(var(--header-height) / 6);
  background-size: calc(var(--header-height) / 2);
}

.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label {
  line-height: var(--header-height);
  margin: unset;
}

.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label a.label-name {
  font-size: var(--header-font-size);
  display: flex;
}

.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-actions>.monaco-action-bar,
.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>div.tab-actions {
  width: calc(var(--header-height) * 0.6);
}
